<footer>
    <div class="container">
        <div class="row">
            <div class="column-xl-6">
                <div class="flex">
                    <a href="mailto:contact@testproject.com" class="support-link"><img
                            src="../../../assets/images/envelope.svg" /> contact@testproject.com</a>
                    <a href="tel:(123) 124-1234" class="support-link"><img src="../../../assets/images/call.svg" />
                        (123) 124-1234</a>
                </div>
            </div>
            <div class="column-xl-6">
                <p class="no-margin text-end">&copy; 2023 Test Project | All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>