<!-- Header Starts Here -->
<header class="main-header">

  <div class="container">
    <div class="navbar">
      <!-- Insert your logo here, either as an img or an SVG -->
      <a routerLink="/" class="navbar-brand">
        <img src="../../../assets/images/logo.png" class="brand" alt="Your Brand Name">
      </a>

      <!-- Navigations Starts -->
      <nav class="main-nav">
        <ul>
          <li><a routerLink="/" class="link-active">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/pricing">Pricing</a></li>
          <li><a routerLink="/vidoes">Videos</a></li>
          <li><a routerLink="/testimonials">Testimonials</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </nav>
      <!-- Navigations Ends -->

      <!-- User Auth Buttons Starts -->
      <div class="auth-buttons">
        <a routerLink="/" class="btn btn-outlined">Login</a>
        <a routerLink="/" class="btn btn-primary">Register</a>
      </div>
      <!-- User Auth Buttons Ends -->
    </div>
  </div>

</header>
<!-- Header Ends Here -->