<!-- Main Wrapper for Home Start -->
<main class="section-home">
    <section class="custom-video">
        <div class="container">
            <div class="row">

                <!-- Content Column Start -->
                <div class="column-content">
                    <!-- Main Title -->
                    <h1 class="no-margin">The Future of Estimating</h1>
                    <p>Your time is money, and we respect that. Register your company, install our mobile app, or log in on our web portal.</p>
                    <div class="flex align-items-center">

                        <!-- Get Started Button -->
                        <button type="button" (click)="startVideo()" class="btn btn-primary rounded">
                            Get Started
                            <img src="../../../assets/images/play-icn.png" class="icon" />
                        </button>

                        <!-- Tagline -->
                        <p class="tagline flex align-items-center"><img src="../../../assets/images/check.svg"
                                class="check-icon" />Your first estimate is free</p>
                    </div>
                </div>
                <!-- Content Column End -->

                <!-- Video Column Start -->
                <div class="column-video">
                    <div class="video-container">
                        <img src="../../../assets/images/banner-img.webp" />
                        <div class="video-overlay">
                            <button class="play-btn" type="button">
                                <svg width="29" height="33" viewBox="0 0 29 33" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M28.0627 16.7009L0.130726 0.574341L0.130726 32.8275L28.0627 16.7009Z"
                                        fill="#0C1D3E" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Video Column End -->
            </div>
        </div>
    </section>

    <!-- Section Titles Start -->
    <section class="section-comm">
        <div class="container">
            <h3>Estimates that save you time and <br>communication with the carrier</h3>
            <div class="row">
                <!-- Column Left Start-->
                <div class="col-xl-9">
                    <!-- Estimates that save you time and communication with the carrier Tiles Start-->
                    <div class="row">
                        <div class="column">
                            <img src="../../../assets/images/tiles-icn-1.png" />
                            <p>The most accurate and documented estimates in the industry</p>
                        </div>
                        <div class="column">
                            <img src="../../../assets/images/tiles-icn-2.png" />
                            <p>Representation of the full scope of the project</p>
                        </div>
                        <div class="column">
                            <img src="../../../assets/images/tiles-icn-3.png" />
                            <p>Time-saving estimates and communication with the carrier</p>
                        </div>
                        <div class="column">
                            <img src="../../../assets/images/tiles-icn-4.png" />
                            <p>Proper project valuation</p>
                        </div>
                        <div class="column">
                            <img src="../../../assets/images/tiles-icn-5.png" />
                            <p>Automated process management with our free app</p>
                        </div>
                    </div>
                    <!-- Estimates that save you time and communication with the carrier Tiles End-->
                </div>
                <!-- Column Left End-->

                <!-- Column Right Start-->
                <div class="col-xl-3">
                    <div class="qr-box">
                        <h4>Download <span class="cyan-text">FREE</span></h4>
                        <h5>Test Project Mobile App</h5>
                        <div class="download-app">
                            <div class="column">
                                <a href="#" class="app-store">
                                    <img src="../../../assets/images/google-play.png" />
                                </a>
                                <a href="#">
                                    <img src="../../../assets/images/qr-code.png" />
                                </a>
                            </div>
                            <div class="column">
                                <a href="#" class="app-store">
                                    <img src="../../../assets/images/google-play.png" />
                                </a>
                                <a href="#">
                                    <img src="../../../assets/images/qr-code.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column Right End-->
            </div>
        </div>
    </section>
    <!-- Section Titles End -->
</main>
<!-- Main Wrapper for Home Ends-->